[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-apscheduler = "==0.6.0"
feedparser = "==6.0.8"
Django = "==3.2.13"
python-dateutil = "==2.8.2"

[dev-packages] 
flake8 = "*" 

[requires]
python_version = "3.8"
